In [ ]:
Jupyter Notebook
1_1_dictionaries.md
4 minutes ago
Logout
Markdown
File
Edit
View
Language

1
### 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)
2
​
3
Example:
4
`{Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}`
5
​
6
​
7
### 2. Delete one object from the dictionary
8
​
9
​
10
### 3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age
11
​
12
Example:
13
`{Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}`
14
​
15
​
16
### 4. write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)
17
​
18
`ages = [23.4, 22.9, 552.9]`
19
​
20
### 5. Download your notebbok as a .py (regular python script) save it somewhere you know
21
​
22
### 6. Go to terminal, navigate to the folder where you have saved the script and execute it through the terminal
23
​
24
`use commandds: 
25
cd and 
26
python your_script.py`
27
​
28
​
29
### [optional] Calculate with a for loop the median and mean of the ages list
30
​
31
​

In [27]:
#Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)
# example: {Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}
familydict = {'Emefa': [40.4, "Agodo"],
             'Dorothy': [67.8, "Ahli"],
             'Godwin': [69.9, "Agordo"],
             'Gifty': [50.4, "Quarcco"],
             'Kofi': [35.7, "Azuma"]}
familydict

{'Emefa': [40.4, 'Agodo'],
 'Dorothy': [67.8, 'Ahli'],
 'Godwin': [69.9, 'Agordo'],
 'Gifty': [50.4, 'Quarcco'],
 'Kofi': [35.7, 'Azuma']}

In [28]:
#Delete one object from the dictionary
del familydict['Kofi']
familydict

{'Emefa': [40.4, 'Agodo'],
 'Dorothy': [67.8, 'Ahli'],
 'Godwin': [69.9, 'Agordo'],
 'Gifty': [50.4, 'Quarcco']}

In [32]:
#Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age
familydict['Gifty'] = [55.3, 'Quarcco']
familydict

{'Emefa': [40.4, 'Agodo'],
 'Dorothy': [67.8, 'Ahli'],
 'Godwin': [69.9, 'Agordo'],
 'Gifty': [55.3, 'Quarcco']}

In [ ]:
#write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)
for name in familydict:
    new = []